.swimlane-container {
  padding: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-10 {
  margin: 5px;
}

.vote-count {
  border-radius: 9px;
  background-color: red;
  font-size: 11px;
  width: 30px;
  height: 30px;
  color: white;
  padding: 2px;
}

.card-desc {
  font-size: 11px !important;
}
.card-timestamp {
  font-size: 11px !important;
  color: #757575;
  text-align: right;
}

.card-desc-container {
  padding: 6px !important;
  padding-bottom: 6px !important;
}
