.oxygen-beds {
  color: #18265c;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 31px;
  text-align: left;
  font-weight: 700;
  padding-left: 12px;
}

.bookmarked {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.62px;
  line-height: 19px;
  text-align: left;
}
.ant-select-selector {
  height: 25px !important;
  font-size: 10px;
}
.navbar-cont {
  height: 100%;
  align-items: center;
  /* justify-content: center; */
  display: flex !important;
}

#style-1::-webkit-scrollbar-track {
  background-color: #fafafa;
}

#style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #fafafa;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}
 {

}

.cardStyle {
  min-width: 200px;
  max-width:20%;
  flex: 0 0 20%;
  border-right: 1px solid #D5D5D5;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;

}



@media (max-width: 768px) {

  .cardStyle {
    min-width: 100% !important;
    border-right: 1px solid #D5D5D5;
    overflow-x: hidden;
    height: 60vh;

  }
  .wrapOnMedia{
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
  }

  .coloumn-scroll
  {
    overflow-y: scroll;
    max-height: 55vh;
  }

}