.oxygen-beds {
    color: #18265C;
    font-family: Roboto;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 31px;
    text-align: left;
    padding-top: 15px;
    padding-left : 12px
  }