.fs-14 {
    font-size: 14px !important;
}

.fc-label-black {
    color: #38404c;
        font-weight: bold;
      font-family: Roboto;
}

.m-t-40 {
    margin-top: 40px;
}

.mb-xs {
    margin-bottom: 5px !important;
}