.main {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
}

.m-10 {
    margin: 5px;
}

.card-desc-container {
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.3);
    padding: 6px !important;
    padding-bottom: 18px !important;
    padding-top: 30px !important;
    cursor: pointer;
    font-weight: 600;
    color: #474951;
}

.mb-10 {

    display: flex;
    justify-content: center;
}

.option {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.options {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.text-style {
    font-weight: bold;
    font-family: Roboto;
}
