@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
    background-color: #ffffff;
}

body, button, html, input, select, textarea, div, p, span, label {
    font-family: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !important;
}

html, body {
    width: 100%;
    height: 100%;
}

body, button, html, input, select, textarea, div, p, span, label {
    font-family: "SFProText", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !important;
}

input:focus {
    border: solid 1px #0099ff;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-inline {
    display: inline;
}

/*Cursor-CSS*/

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

/*Borders*/
.b-1-blue {
    border: 1px solid #0052cc;
}

.b-1-white {
    border: 1px solid #e6e6e6;
}

/*Border-radius*/
.br-4 {
    border-radius: 4px;
}

/*Font-sizes*/

.fs-sm {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-40 {
    font-size: 40px;
}

/*Font-color*/

.fc-warm-grey {
    color: #999999;
}

.fc-blue {
    color: #0052cc !important;
}

.fc-dark-slate-blue {
    color: #172b4d;
}

.fc-white {
    color: #ffffff !important;
}

.fc-black {
    color: #000000;
}

.fc-blue-grey {
    color: #5e6c84;
}

.fc-red {
    color: red;
}

.fc-brownish-grey {
    color: #666666;
}

.fc-dusky-blue {
    color: #465d85;
}

/*Background-color*/

.bg-blue {
    background-color: #0052cc !important;
}

/*Width-CSS*/

.outline-none {
    outline: none !important;
}

/*Width-CSS*/

.w-150 {
    width: 150px;
}

.w-450 {
    width: 450px;
}

.w-250 {
    width: 250px;
}

.z-index-100 {
    z-index: 100;
}

.text-transform-capitalize {
    text-transform: capitalize !important;
}

.input-border {
    border: solid 1px #dfe1e6;
    border-radius: 2px;
    background-color: #fafbfc;
}

.checkbox-border {
    border-radius: 2px;
    border: solid 1px #b9bbc2;
    background-color: #ffffff;
}

.subscription-plan-card-shadow {
    box-shadow: 0px 3px 21px 0 rgba(0, 0, 0, 0.07);
}
.dialog-box{
    max-width: 500px;
    padding:30px
}
.p-l-20{
    padding-left: 20px;
}
.p-r-10{padding-right: 10px;}
.p-t-20{
    padding-top: 20px;
}
.p-r-20{
    padding-right: 20px;
}
.p-b-20{
    padding-bottom: 30px;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-10{
    margin: 10px;
}
.selected-item{
    border: 1px solid #d6d4d4;
    border-radius: 3px;
}
.bottom-text{ font-size: 11px !important;
    color: #757575;
    text-align: left;
    width: 100%;
    margin-top:5px;}
.working-text{
    font-size: 12px;
    color: rgb(15, 207, 15);
}   
.not-working-text{
    font-size: 12px;
    color: rgb(245, 18, 18);
}   
.dialog-header{
    justify-content: space-between;
}
.share-button{
    padding-right: 2px im !important;
}
.twitter-tweet{
    max-width: 400px !important;
    width: 400px !important;
}
@media screen and (max-width: 760px) {
    .twitter-tweet {
     width: 70% !important;
    }
  }

  @media screen and (max-width: 380px)  {
    .twitter-tweet {
     width: 200px !important;
    }
}
  @media screen and (max-width: 370px) {
        .twitter-tweet {
         width: 150px !important;
        }
  }  
  @media screen and (max-width: 320px) {
    .twitter-tweet {
     width: 100px !important;
    }
}  
.location-row{
    padding: 20px;
    border-top: solid 0.5px #dbdbdb;
    border-bottom: solid 0.5px #dbdbdb;
    color: #0f0f0f;
    font-weight: 700;
    font-size: 13px;
}
.search-row{
    padding: 20px;
}
.search-location{
    border: none !important;
    outline: none;
}
.selected-param{
    padding: 15px 15px 15px 5px;
    justify-content: space-between;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
}
.selected{
    color: #0091ff;
    font-size: 18px;
    font-weight: 700;
}
.set-alert{
    font-size: 16px;
    font-weight: 600;
    color: #ff0000;
}
.alert-image{
    width: 18px;
}
.category-header{
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 0px 20px 20px 20px;
    align-items: center;
    justify-content: center;

}
.back{
    padding-left: 10px;
}
.header-icons{
    padding-right: 10px;
}
.lead-card{
    max-width: 500px;
}
.desktop-view {
    display: block;
    }
 .mobile-view{
        display: none;
    }
@media screen and (max-width: 480px) {
    .desktop-view {
    display: none;
    }
    .mobile-view{
        display: block;
    }

}   
